*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

#wrapper{
    width: 100vw;
    height: 100vh;


}

a{
    text-decoration: none;
}

/* ==================== NAVIGATION BAR ====================== */

.navbar{
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    background-color:transparent;
    backdrop-filter: blur(2px);
}

/* ==================== navigation menus ==================== */

.navbar-menu{
    display: flex;
    justify-content:center;
    align-items: center;

    margin-right: 5rem;
    
    
}

.navbar-menu div{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 10px;
    transition: transform 0.3s;
}

.navbar-menu div a{
    color: white;
    transition:  color 0.3s;
}

.navbar-menu div:hover a{
    color: gold;
} 

.navbar-menu div:hover{
    transform: scale(1.1);
} 

/* ======================================= SECTION-2 MAIN ======================================= */

.main{

    background-image: url("logos/background.png");
    background-size: cover;

    /* background-color: #1A1A1A; */
    height: 100vh;
    width: 100vw;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    gap: 5rem;
    padding-top: 100px;
    padding-right: 75px;
    padding-bottom: 100px;
    padding-left: 225px;
    

}

/* =========================== main left =========================== */



.main-left{

    
    width: 600px;
    height: 450px;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    gap: 20px;


    position: relative;
}


.main-heading{
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.main-subheading{
    font-size: 35px;
    color: white;
    font-weight: 400;
}

/* .role{
    color: white;
    font-weight: 600;
} */

.main-description{
   
    width: 90%;  
    font-weight: 300;
    color: white;
}

/* =========================== main right =========================== */



.main-right{
    

    width: 600px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    position: absolute;
}

.profile img{
    border: 3px solid white;
    border-radius: 100%;
    width: 400px;
    animation: profilescale 3s ease-in-out infinite alternate;
}
@keyframes profilescale {
    from{
        transform: scale(1);
        /* filter: grayscale(0.5); */
    }
    to{
        transform: scale(1.1);
        /* filter: grayscale(0); */
    }
}

.profile-background{
    position: absolute;
}

.profile-background img{
    width: 460px;
    animation: rotate 9s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* ======================================= SECTION-3 ABOUT ======================================= */

.aboutme{
    background-image: url("logos/background.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.aboutme-heading{
    color: gold;
    font-size: 60px;
    margin-bottom: 100px;
    margin-top: 150px;
}

.aboutme h1:hover{
    transform: scale(1.1);
    color: white;
}

.aboutme-container{
    text-align: justify;
    width: 800px;
    color: white;
}

/* ======================================= SECTION-4 SKILLS ======================================= */


.skills{
    background-image: url("logos/background.png");
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;

    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-heading{
    color: gold;
    font-size: 45px;
    margin-bottom: 50px;
}

.skills-heading:hover{
    transform: scale(1.1);
    color: white;
}

.skills-container{

    background-image: url("logos/sub-background.png");
    background-size: cover;

    border-radius: 50px;

    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.skill-box{
    background-image: url("logos/background.png");
    background-size: cover;
    height: 170px;
    width: 130px;
    color: white;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    border-radius: 30px;
}

.skill-box:hover{
    transform: scale(0.9);
    color: gold;
}

.skill-name{
    position: absolute;
    bottom: 10px;
} 

/* ======================================= SECTION-5 CONTACT ======================================= */


.contactme{
    background-image: url("logos/background.png");
    background-size: cover;
    position: relative;
    background-color: rgb(248, 249, 250);
    width: 100vw;
    height: 900px;

    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container{

    width: 800px;

    padding: 30px;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.contact-heading{
    color: gold;
    font-size: 45px;
    margin-bottom: 50px;
}

.contact-subheading{
    font-weight: bold;
    font-size: 25px;
}

.contact-heading:hover{
    transform: scale(1.1);
    color: white;
}
/*
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.contact-inputs{
    width: 700px;
    height: 50px;

    padding-left: 20px;

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
}

.contact-inputs::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.contact-inputs:hover{
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}

.message-area{
    padding: 20px;
    height: 250px;
}

.send-button{
    margin-left: 50px;
}

*/


/* ======================================= FOOTER ======================================= */


.footer{
    background-color: rgb(247, 247, 253);
    text-align: center;
} 







/*=======================================================================================================================================*/



/* =========================== faded text =========================== */

/*

.faded-text{
    user-select: none;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
    color: rgb(248, 249, 250);


    position: absolute;
    bottom: -31px;
    left: 100px;

}

*/


/* ======================================= SECTION-HEADINGS ======================================= */

/*

.reveal{
    transition: color 0.3s;
    cursor: pointer;
}

.reveal:hover{
    color: rgb(40, 40, 40);
}


*/



/* ======================================= RESPONSIVE DESIGN ======================================= */


@media (max-width: 1000px) {
    .navbar{
        flex-direction: column;
        height: 100px;
        justify-content: center;
    }


    .navbar-menu{
        margin-right: 0;
    }

    .main{
        height: 200vh;
        flex-wrap: wrap;
    }

}

@media (max-width: 850px) {
    .aboutme{
        height: 125vh;
    }
    .aboutme-container{
        width: 650px;
    }
}

@media (max-width: 750px) {
    .aboutme{
        height: 150vh
    }
    .aboutme-container{
        width: 500px;
    }

    .skills{
        height: 1500px;
    }

    .skills-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .contact-inputs{
        width: 600px;
    }
}


@media (max-width: 650px) {
    .contact-inputs{
        width: 500px;
    }
}

@media (max-width: 550px) {
    .contact-subheading{
        width: 400px;
    }
    .contact-inputs{
        width: 400px;
    }
}

/* ======================================= FOOTER ======================================= */


/* .footer{
    background-color: rgb(247, 247, 253);
    text-align: center;
} */